.card {
  width: 18rem;
  height: 25rem;
}

.card img {
  width: 16rem;
  height: 12rem;
}

.category,
.rating {
  margin: 0;
  padding: 0;
}

.cardText {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
