.card {
  width: 18rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  && .cardBody {
    margin: 1rem 0;
  }
  && a {
    text-decoration: none;
    color: black;
    text-align: start;
  }
  && img {
    width: 16rem;
    height: 12rem;
  }
}

.category,
.rating {
  margin: 0;
  padding: 0;
}

.cardText {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
